.stock{
    border: 3px solid gray;
    margin: 5px;
}

.listBttn {
    float: none;
}

a:link{
    color: black;
}
a:visited{
    color: black;
}
a:hover{
    color: black;
}
a:active{
    color: black;
}